<html>
<head>
    <!-- Add html5 markup, possibly bootstrap to make it pretty. -->
    <title>{{name}}</title>
</head>
<body>
<h1>{{name}}</h1>
<h2>{{ formatDate(time) }}</h2>
<table>
    {{#signatures}}
    <tr>
        <td>{{mediaPath}}</td>
        <td>{{name}}</td>
        <td>{{date}}</td>
        <td>{{message}}</td>
    </tr>
    {{/signatures}}
</table>
</body>
</html>